{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-loops",
    "react",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-loops/no-loops": 2,
    "no-console": 1,
    "prettier/prettier": 2
  }
}
